/* arabic */
@font-face {
    font-family: 'Changa';
    font-style: normal;
    font-weight: 300;
    src: local("Changa Light"), local("Changa-Light"), url(https://fonts.gstatic.com/s/changa/v2/zIGCu8O19pSG8koisGk1OBJtnKITppOI_IvcXXDNrsc.woff2) format("woff2");
    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}

* {
    padding: 0;
    margin: 0;
}

html {
    direction: rtl;
}

body {
    /* Margin bottom by footer height */
    // margin-bottom: 5em;
    color: #311910;
    font-family: 'Changa';
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    background: #ffffff;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
}

.navbar-scroll {
    background-color: rgba(45, 6, 19, 0.85);
    transition: background-color 0.5s;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: white;
    text-decoration: none;
    background-color: #ff10ce;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #ff10ce;
}
nav .nav-link:hover {
    color: #ff10ce;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
    color: #ff10ce;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-align: center;
}

.header {
    background-image: url(../images/header.jfif);
    text-align: center;
    padding: 0;
    background-attachment: fixed;

    // background-size: cover;
    background-size: contain;
    margin-bottom: 10px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    .dark{
        background-color: rgba(45, 6, 19, 1);
    }
    .navbar-brand{
        img{
            width: 7em;
            height: 2em;
        }
    }
    .banner {
        padding: 15% 5% 11% 5%;
        display: flex;
        justify-content: center;
        margin: auto;

        .widget {
            line-height: 1.4;
        }

        .header-text p {
            color: #000;
            margin: 0;
            font-size: 50px;
            line-height: 1.4em;
            text-transform: Uppercase;
            letter-spacing: 1px;
            font-family: 'Changa';
        }
    }

    .header-logo-desc p {
        display: inline-block;
        white-space: nowrap;
        font-size: 31px;
        line-height: 37px;
        font-weight: 400;
        color: rgb(255, 255, 255);
        visibility: inherit;
        transition: none;
        border-width: 0px;
        margin: 0 0 0 20px;
        padding-left: 20px;
        letter-spacing: 0px;
        min-height: 0px;
        min-width: 0px;
        max-height: none;
        max-width: none;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transform-origin: 50% 50% 0px;
    }

    .item .header-logo-desc p,
    .static_page .header-logo-desc p,
    .error_page .header-logo-desc p,
    .item .top-bar-social #social a,
    .static_page .top-bar-social #social a,
    .error_page .top-bar-social #social a {
        color: #311910;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 100px;
        width: 100%;
        background: url(../images/header-mask.png) no-repeat center;
        right: 0;
        left: 0;
        margin: 0 auto;
        background-size: cover;
    }
}

nav {
    .navbar-brand {
        color: #fff;
        margin: 0;
        font-size: 40px;
        line-height: 1.4em;
        text-transform: Uppercase;
        letter-spacing: 1px;
    }

    a {
        background: transparent;
        color: #fff;
        display: block;
        font-size: 15px;
        padding: 0 0 8px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Changa';
        letter-spacing: 1.3px;
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    text-align: justify;
}

.dropdown-item {
    text-align: justify;
}
.extraMargin{
    margin-top: 9em;
    padding: 2em 0 0em 0 !important;}
.intro {
    padding: 2em 0;

    .headTitle {
        font-size: 35px;
        line-height: 45px;
        color: #311910;
        text-transform: capitalize;
        text-align: center;
    }

    .para {
        color: #311910;
        text-align: right;
        font-size: 16px;
        line-height: 2em;
        margin-top: 2%;
    }
}

#whatWeDo {
    background-image: linear-gradient(to right, rgb(56, 60, 134),#DC15BB);
    color: #fff;
    .headTitle {
        color: #fff;
    }

    .para {
        color: #fff;
    }

    .secondTitle {
        color: #fff;
        text-align: right;
        font-size: 16px;
    }
    .imageTitle{
        a{
            &:hover{
                
            text-decoration: none;
            h3{
                color:#ff10ce;
            }
            }
        }
        .t1 , .t2 , .t3{
            padding: 20em 1em 3px 1em;
            background-size: contain;
        }
        .t1{
            background-image: url(../images/a1v2.jfif);
        }
        .t2{
            background-image: url(../images/b1.jfif);
        }
        .t3{
            background-image: url(../images/c1v2.jfif);
        }
    }
    .row {
        .title {
            font-size: 18px;
            line-height: 21px;
            color: #fff;
            text-transform: capitalize;
            letter-spacing: 1.5px;
            margin: 1em auto;
            font-weight: bold;
            text-align: center;
        }
    }
}

#testimonials {
    padding-top: 50px;
    padding-bottom: 50px;

    .row {
        margin-top: 30px;

        .col-md-4 {
            margin: 40px auto;

            .profile {
                padding: 70px 10px 10px;
                background-color: #efefef;

                .user {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                img {
                    top: -60px;
                    position: absolute;
                    left: calc(50% - 60px);
                    border: 10px solid #fff;
                }

                h3 {
                    font-size: 20px;
                    margin-top: 15px;
                    color: #ff10ce;
                }

                span {
                    font-size: 12px;
                    color: #333;
                }

                blockquote {
                    font-size: 16px;
                    line-height: 30px;

                    &::before {
                        content: open-quote;
                        font-size: 50px;
                        color: #ff10ce;
                        position: relative;
                        line-height: 20px;
                        bottom: -15px;
                        right: 5px;
                    }

                    &::after {
                        content: close-quote;
                        font-size: 50px;
                        color: #ff10ce;
                        position: relative;
                        line-height: 10px;
                        bottom: -15px;
                        right: 5px;
                    }
                }

                &:hover {
                    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                }
            }
        }
    }
}
.carousel-container.row {
    width: 80%;
}
#vision {
    color: #fff;
    background-image: linear-gradient(to right, rgb(56, 60, 134),#DC15BB);
    .headTitle {
        color: #fff;
    }
    .para {
        color: #fff;
    }
}

/* Team */
#team {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;

    h1 {
        text-align: center;
        color: #555 !important;
        padding-bottom: 10px;

        &::after {
            content: '';
            background: #ff10ce;
            display: block;
            height: 3px;
            width: 170px;
            margin: 20px auto 5px;
        }
    }

    .fab {
        height: 25px;
        width: 25px;
        color: #ff10ce !important;
        background: #fff;
        padding: 6px;
        border-radius: 50%;
    }

    .img-box {
        ul {
            padding: 15px 0;
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            opacity: 0;
            transition: 0.5s;

            li {
                padding: 5px;
                display: inline-block;
                transition: 0.5s;
            }
        }

        &:hover ul {
            opacity: 1;
        }
    }

    .profile-pic {
        margin-top: 25px;

        .img-box {
            opacity: 1;
            display: block;
            position: relative;
        }

        .img-box img {
            filter: grayscale(1);
        }

        .img-box img:hover {
            filter: grayscale(0);
            cursor: pointer;
        }

        h2 {
            font-size: 22px;
            font-weight: bold;
            margin-top: 15px;
            color: #ff10ce !important;
        }

        h3 {
            font-size: 15px;
            font-weight: bold;
            margin-top: 15px;
        }
    }
}

#ourWork {
    .para {
        text-align: center;
    }

    .row {
        .col-3 {
            .black {
                background-color: black;

                img {
                    transition: 300ms;
                    width: 100%;
                }

                &:hover {
                    img {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
// ---------gallery--------
.tech{
    .title{
        text-align: right;
    }
}
.gallery{
    margin-bottom: 7em;
    .container{
        display: flex;
        justify-content: center;
    }
    .carousel-container {
        position: relative;
        .row {
            width: 80%;
        }
    
      }
      .carousel-item img {
        object-fit: cover;
      }
      #carousel-thumbs {
        background: rgba(255,255,255,.3);
        bottom: 0;
        left: 0;
        padding: 0 50px;
        position: absolute;
        right: 0;
      }
      #carousel-thumbs img {
        border: 5px solid transparent;
        cursor: pointer;
      }
      #carousel-thumbs img:hover {
        border-color: rgba(255,255,255,.3);
      }
      #carousel-thumbs .selected img {
        border-color: #fff;
      }
      .carousel-control-prev,
      .carousel-control-next {
        width: 50px;
      }
}
// ------contact---------
#contact {
    .para {
        text-align: center;
    }

    .col-md-7 {
        .headTitle {
            text-align: right;
            font-weight: bold;
        }

        p {
            text-align: right;
        }
    }

    .col-sm-10 {
        p {
            text-align: right;
            font-weight: bold;
            display: flex;
            align-items: center;
            align-self: center;

            // margin-top: 2%;
       
        }
    }

    i {
        color: white;
        background-image: linear-gradient(to right, rgb(56, 60, 134),#DC15BB);
        padding: 11px;
        font-size: 17px;
    }

    .form {
        // padding: 2em;
        padding: 40px 40px 5px;
        background-image: linear-gradient(to right, rgb(56, 60, 134),#DC15BB);

        .form-control {
            border-radius: 0;
            border: none;
            border-bottom: 1px solid gray;
            background-image: linear-gradient(to right, rgb(56, 60, 134),#DC15BB);

            &:focus {
                color: white;
                border-bottom: 1px solid #ff10ce;
            }
        }

        label {
            color: #efefef;
            display: flex;
            justify-content: right;
        }
    }
}

#str {
    padding: 2% 11%;
    height: auto;
    font-size: 3vw;
    color: #fff;
    font-weight: bold;
}

div.social-btn {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

div.social-btn a {
    text-decoration: none;
    margin: 1%;
}

div.social-btn div {
    display: inline-block;
    // float: left;
    color: #fff;
    margin-right: 3px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 50%;
    text-shadow: 0px 0px 5px #000;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding: 40%;
}

// div.social-btn a:last-child div {
//     margin-right: 0;
// }
.inst{
    padding:50% !important;
}
// div.social-btn div:hover, div.social-btn div:active {
//     height: 135px;
//     padding-top: 15px;
// }
i {
    -moz-transition: all 0.4s ease-out;
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

div.face span, div.twi span, div.in span, div.inst span, div.git span {
    position: absolute;
    left: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 8px 0px;
    opacity: 0;
    -moz-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    font-size: 10px;
}

div.social-btn div:hover i {
    opacity: 0;
}

div.social-btn div:hover span {
    opacity: 1;
}

div.face {
    background: #3A5795;
    -moz-box-shadow: 0px 4px 0px #1e469d;
    -webkit-box-shadow: 0px 4px 0px #1e469d;
    box-shadow: 0px 4px 0px #3e6d8d;
    position: relative;
}

div.twi {
    background: #5EA9DD;
    -moz-box-shadow: 0px 4px 0px #186ba4;
    -webkit-box-shadow: 0px 4px 0px #186ba4;
    box-shadow: 0px 4px 0px #2b95df;
    position: relative;
}

div.in {
    background: #FFFA04;
    -moz-box-shadow: 0px 4px 0px rgb(212, 212, 30);
    -webkit-box-shadow: 0px 4px 0px rgb(212, 212, 30);
    box-shadow: 0px 4px 0px rgb(212, 212, 30);
    position: relative;
}

div.inst {
    background: #C3308B;
    -webkit-box-shadow: 0px 4px 0px rgb(170, 40, 120);
    -moz-box-shadow: 0px 4px 0px rgb(170, 40, 120);
    box-shadow: 0px 4px 0px rgb(170, 40, 120);
    position: relative;
}

div.git {
    background: #BBBBBB;
    -webkit-box-shadow: 0px 4px 0px #b51c19;
    -moz-box-shadow: 0px 4px 0px #b51c19;
    box-shadow: 0px 4px 0px #9a9a9a;
    position: relative;

    i {
        text-shadow: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        background-color: rgba(30, 30, 30, 0.85);
    }
    .header .banner .header-text p{
    font-size: 5vw;
    padding: 13% 0 0 0;
    }
    .fa-2x {
        font-size: 100%;
    }
    div.social-btn a {
        text-decoration: none;
        margin: 3%;
    }
    .col-md-4 {
        text-align: center;
        line-height: 30px;
    }
    .header .navbar-brand img {
        width: 3em;
        height: 1em;
    }
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

@media screen and (max-width:1440px) and ( min-width: 1024px) {
    html,
    body{
    width:100%;
    overflow-x:hidden;
    }
    .logo img{
        width: 600px !important;
    }
    /* white space */
    .row {
        max-width: 100% !important;
        margin: 0 auto !important;
    }
 
}

/*copyRights*/
.copyRights {
    background-color: rgba(45, 6, 19, 1);
        text-align: center;
    margin: auto;
    line-height: 4;
    bottom: 0;
    .col-md-4 {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .container-fluid {
        height: auto;

        a {
            display: inline-block;
            color: #ddd;
            padding-left: 1em;

            &:hover {
                color: #ff10ce;
                text-decoration: none;
            }
        }
        a.btn.btn-social-icon {
            margin-top: 2%;
        }
        i {
            margin-top: 1.5%;

            &:hover {
                color: #ff10ce;
            }
        }

        p {
            display: inline-block;
            color: #ddd;
            padding-left: 1em;
            padding-right: 2em;
            text-align: center;
            margin-bottom: 0 !important;
        }
    }
}

.content{
    height: 100%;
    min-height: calc(100vh - 40px);
}